<p style="color: green"><%= notice %></p>

<h1>This is Category show page</h1>

<div>
 
  <%= link_to "Back to categories", categories_path %>

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
