<%= form_with(model: category_operation) do |form| %>
  <% if category_operation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category_operation.errors.count, "error") %> prohibited this category_operation from being saved:</h2>

      <ul>
        <% category_operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
