<h1>Editing category operation</h1>

<%= render "form", category_operation: @category_operation %>

<br>

<div>
  <%= link_to "Show this category operation", @category_operation %> |
  <%= link_to "Back to category operations", category_operations_path %>
</div>
